body{
	background-color:darkgray;
	font-size:18px;
	font-family: arial;
	padding-left:2%;
	color: green;
  
}
h1{
	color:blue;
}
h2{
	color:blue;
}
span{
	color:yellow;
}
ul{
	font-family:arial
}
ol{
	font-family:georgia
}

footer {
    text-align: center;
    padding: 40px;
    background-color: lightgray;
    color: blue;
}