body{
	background-color:darkgray;
}
h1{
	color:blue;
}
h2{
	color:blue;
}
span{
	color:yellow;
}
ul{
	font-family:arial
}
ol{
	font-family:georgia
}

footer {
    text-align: center;
    padding: 40px;
    background-color: lightgray;
    color: blue;
}